@model OtobusProje.Models.YorumlarViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Firma Yorumları</h2>
<table class="table">
    <tr><th>Firma</th><th>Yorum</th><th>Puan</th></tr>
    @foreach (var item in Model.FirmaYorumlari)
    {
        <tr>
            <td>@item.Firma.Ad</td>
            <td>@item.Yorum.Yorum1</td>
            <td>@item.Yorum.Puan</td>
        </tr>
    }
</table>
@foreach (var item in Model.FirmaYorumlari) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firma.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yorum.Yorum1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yorum.Puan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yorum.Tarih)
                <td>
                @Html.DisplayFor(modelItem => item.Yorum.Yolcu.Ad)
            </td>
            </td>
        </tr>
}
    </tbody>
</table>

