@model IEnumerable<OtobusProje.Models.FirmaYorum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yorum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firma.FirmaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yorum.YorumId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.YorumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.YorumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.YorumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
