@model IEnumerable<OtobusProje.Models.Yorum>

@{
    ViewData["Title"] = "Index";
}

<h1>Yorumlar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Puan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yorum1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yolcu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Puan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yorum1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yolcu.Ad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.YorumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.YorumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.YorumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
